.App {
  text-align: center;
}

.main-title {
  padding-top: 50px;
  color: white;
}

html,
body {
  background-image: url('./images/floral1 copy.jpg');
  height: 100%;
}

body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
}

.form-control {
  width: 225%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1;
}

.modal.in .modal-dialog {
  padding-top: 30px;
}

.control-label input::placeholder {
  font-size: 12px;
  font-style: italic;
}
.control-label {
  font-weight: 400;
  font-size: 22px;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
}

.panel-group .panel {
  width: 600px;
}

ul {
  width: 0%;
  font-size: 20px;
  padding: 10px 100px;
}

.panel-title {
  font-size: 26px;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  display: inline-block !important;
  text-align: center !important;
  float: none;
}
